:root {
  --red: #fc5c65;
  --orange: #fd9644;
  --yellow: #fed330;
  --green-1: #20bf6b;
  --green-2: #26de81;
  --green-3: #35fa96;
  --blue-1: #88b7ff;
  --blue-2: #5873eb;
  --blue-3: #4274ff;
  --purple: #8c3ad9;
  --horizon: #4b6584;
  --gray-100: #1d1d1d;
  --gray-200: #2e2e2e;
  --gray-300: #5e5e5e;
  --gray-400: #bdbdbd;
  --gray-500: #ebebeb;
  --gray-600: #f2f2f2;
  --gray-700: #f5f5f5;
}

@import 'base';

body {
  font-size: 0.9rem;
  font-family: 'Spoqa Han Sans', sans-serif;
  background: #fff;
}
